.form-control-dark {
  border-color: var(--bs-gray);
  color: rgb(238, 238, 238) !important;
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  color: rgb(238, 238, 238) !important;
}

.text-bg-dark {
  color: rgb(238, 238, 238) !important;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
